<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
	  
	  <!--REEMPLAZAR "NOMBRE_SERVER" CON EL NOMBRE DE TU SERVIDOR SQL-->
	  <!--
			SERVIDOR LOCAL: .;
			SERVIDOR POR IP: 192.168.1.100;
			SERVIDOR POR NOMBRE: MI_SERVIDOR_SQL;
		-->
	  <add name="DefaultConnection"
         connectionString="Server=.;Database=Sistema_2026;Integrated Security=true;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>